---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import LucyOnRocket from "~/assets/lucy-on-rocket.png";
import LucyImg from "~/assets/lucy-illustration.png";
import LucyDoll from "~/assets/lucy-cta-1.png";
---

<div class="relative pb-20 pt-40 lg:pt-44">
    <div class="relative m-auto px-6 xl:container md:px-12 lg:px-6">
        <h1
            class="text-center font-black sm:mx-auto sm:w-10/12 sm:text-5xl md:w-2/3 md:text-6xl lg:w-auto lg:text-left"
        >
            A Lucy veio para Reescrever<br class="hidden lg:block" />
            <span class="gradient-text relative">de novo, a história</span>.
        </h1>
        <div class="lg:flex">
            <div
                class="relative mb-12 mt-8 space-y-8 text-center sm:mx-auto sm:w-10/12 md:mt-16 md:w-2/3 lg:ml-0 lg:mr-auto lg:w-6/12 lg:text-left"
            >
                <p class="text-offset sm:text-lg lg:w-11/12">
                    💡 Com Lucy, você tem o poder de transcender limitações e
                    explorar novos horizontes. Ela não está apenas reescrevendo
                    a história, ela está reescrevendo a forma como percebemos a
                    inteligência e as possibilidades que existem no 🌍. Junte-se
                    a Lucy nessa jornada extraordinária, em que ela redefine os
                    limites do que é possível 🚀.
                </p>
                <span class="block font-semibold"
                    >Você pode acessar a Lucy através do:</span
                >
                <div
                    class="relative grid grid-cols-2 space-x-4 md:flex md:justify-center md:space-x-6 lg:justify-start"
                >
                    <a
                        aria-label="add to slack"
                        href="#"
                        class="rounded-full border border-gray-500 bg-transparent px-8 py-4 shadow-sm duration-300 hover:border-purple-600 hover:shadow-lg hover:shadow-purple-600/40 active:scale-105 active:duration-75"
                    >
                        <div class="flex justify-center space-x-4">
                            <Icon name="social/discord" class="h-8 w-8" />
                            <span class="font-medium">Discord</span>
                        </div>
                    </a>
                    <a
                        aria-label="add to chat"
                        href="#"
                        class="rounded-full border border-gray-500 bg-transparent px-8 py-4 shadow-sm duration-300 hover:border-green-400 hover:text-green-400 hover:shadow-lg hover:shadow-lime-600/20 dark:hover:border-green-300/30"
                    >
                        <div class="flex justify-center space-x-4">
                            <Icon name="social/whatsapp-icon" class="h-8 w-8" />
                            <span class="font-medium">WhatsApp</span>
                        </div>
                    </a>
                </div>

                <div>
                    🔥🌟
                    <span class="text-offset">Futuras Integrações :</span>
                    <a href="#" class="font-semibold hover:text-blue-400"
                        >Twitter,</a
                    >
                    <a href="#" class="font-semibold hover:text-cyan-500"
                        >Telegram</a
                    >
                </div>
            </div>
            <div class="-right-20 mt-12 lg:absolute lg:w-7/12">
                <div
                    aria-hidden="true"
                    class="from-primaryLight to-secondaryLight absolute inset-0 m-auto h-full w-full rotate-45 scale-75 rounded-full bg-gradient-to-r blur-3xl md:h-96 md:w-96 md:scale-110"
                >
                </div>
                <div class="flex w-full">
                    <div
                        class="relative left-12 top-12 z-10 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:left-16"
                    >
                        <Image
                            src={LucyOnRocket}
                            alt="descriptive text"
                            width={350}
                            height={350}
                            aspectRatio="1:1"
                        />
                    </div>

                    <div
                        class="overflow-hidden rounded-lg bg-gray-100 shadow-lg"
                    >
                        <Image
                            src={LucyImg}
                            alt="descriptive text"
                            width={350}
                            height={350}
                            aspectRatio="1:1"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="relative -mb-20 mt-40 w-full lg:mb-0 lg:mt-0">
            <div
                class="container mx-auto flex items-end justify-between px-6 md:px-12 lg:px-7"
            >
                <a href="" class="flex items-center space-x-4">
                    <Image
                        class="h-14 w-14 rounded-full object-cover"
                        src={LucyDoll}
                        alt="Boneca Lucy para dúvidas"
                        width={100}
                        height={100}
                    />
                    <div class="offset">
                        <span class="text-sm">Dúvidas ?</span>
                        <p class="font-semibold">Fale com a Lucy!</p>
                    </div>
                </a>

                <div
                    class="flex items-center justify-center gap-4 lg:justify-start"
                >
                    <span
                        class="font-semibold uppercase tracking-widest text-gray-400 text-sm sm:text-base"
                        >Social</span
                    >
                    <span class="h-px w-12 bg-gray-200"></span>

                    <div class="flex gap-4">
                        <a
                            href="#"
                            target="_blank"
                            class="text-gray-400 transition duration-300 ease-in-out hover:scale-150 hover:text-gray-500 active:text-gray-600"
                        >
                            <svg
                                class="h-5 w-5"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
                                ></path>
                            </svg>
                        </a>

                        <a
                            href="#"
                            target="_blank"
                            class="text-gray-400 transition duration-300 ease-in-out hover:scale-150 hover:text-gray-500 active:text-gray-600"
                        >
                            <svg
                                class="h-5 w-5"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                                ></path>
                            </svg>
                        </a>

                        <a
                            href="#"
                            target="_blank"
                            class="text-gray-400 transition duration-300 ease-in-out hover:scale-150 hover:text-gray-500 active:text-gray-600"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-5 w-5"
                                width="24"
                                height="24"
                                viewBox="0 0 512 512"
                                fill="currentColor"
                                ><path
                                    d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48c27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                                ></path></svg
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
