---
import { Icon } from "astro-icon";
---

<div class="px-4 md:container md:mx-auto">
    <div class="pt-10 md:pt-40">
        <div class="container mx-auto">
            <div class="flex flex-wrap items-center pb-12">
                <div class="w-full md:w-1/2 md:pr-6 lg:w-2/3 xl:pr-20">
                    <div class="text-color py-2">
                        <h1
                            role="heading"
                            class="f-f-l gradient-text font-black tracking-tighter text-2xl md:leading-snug lg:text-6xl"
                        >
                            Se a Lucy tivesse um currículo, você ia se
                            impressionar!
                        </h1>
                        <p
                            role="contentinfo"
                            class="f-f-r py-4 text-lg md:py-8 md:leading-10 lg:leading-7 lg:text-3xl"
                        >
                            Permita que Lucy reescreva a história do seu dia a
                            dia, proporcionando soluções instantâneas e
                            desvendando um mundo de possibilidades. Conecte-se
                            com ela agora e desfrute de uma nova era de
                            assistência virtual!
                        </p>
                        <button
                            class="flex cursor-pointer items-center pb-4 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2 md:pb-0"
                        >
                            <span
                                aria-label="lets get started"
                                role="button"
                                class="focus f-f-r font-semibold text-indigo-700 underline outline-none text-lg dark:text-indigo-400 lg:text-2xl"
                                >Venha conhecer a Lucy</span
                            >
                            <div class="pl-2">
                                <img
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg1.svg"
                                    alt="arrow"
                                />
                            </div>
                        </button>
                    </div>
                </div>
                <div
                    class="relative flex h-96 w-full items-end justify-center md:w-1/2 lg:w-1/3"
                >
                    <Icon
                        name="illustrations/Profile data-cuate"
                        class="h-full w-full"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="pb-32 pt-16">
        <div class="mx-auto">
            <div class="flex flex-row-reverse flex-wrap items-center">
                <div
                    class="w-full pl-0 sm:pl-0 md:w-1/2 md:pl-10 lg:w-2/3 lg:pl-20"
                >
                    <div class="text-color py-2">
                        <div>
                            <h1
                                role="heading"
                                class="f-f-l gradient-text font-black tracking-tighter text-2xl dark:text-white md:leading-snug lg:text-6xl"
                            >
                                A mente criativa por trás das grandes
                                comunidades!
                            </h1>
                        </div>
                        <p
                            role="contentinfo"
                            class="f-f-r py-8 leading-7 text-lg md:leading-10 lg:text-3xl"
                        >
                            Desperte sua criatividade com Lucy, a mente
                            brilhante por trás das ideias inovadoras! Com seu
                            poder de IA, ela gera insights únicos e soluções
                            criativas para impulsionar seu sucesso. Conecte-se e
                            deixe Lucy elevar sua jornada rumo à inovação!
                        </p>
                        <button
                            class="flex cursor-pointer items-center pb-4 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2 md:pb-0"
                        >
                            <span
                                aria-label="lets get started"
                                role="button"
                                class="focus f-f-r font-semibold text-indigo-700 underline outline-none text-lg dark:text-indigo-400 lg:text-2xl"
                                >Visite nossa comunidade no Discord</span
                            >
                            <div class="pl-2">
                                <img
                                    src="https://tuk-cdn.s3.amazonaws.com/can-uploader/alternating_description_with_cards-svg1.svg"
                                    alt="arrow"
                                />
                            </div>
                        </button>
                    </div>
                </div>
                <div
                    class="relative flex h-96 w-full items-end justify-center md:w-1/2 lg:w-1/3"
                >
                    <Icon
                        name="illustrations/Robotics-cuate"
                        class="h-full w-full"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
