---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Como usar a Lucy" id="compatibility">
  <Fragment slot="lead">
    Usar a lucy <span class="text-primary">é muito fácil</span>. Basta adicionar
    o bot em seu{" "}
    <span class="text-primary">servidor do Discord</span>
    e começar a usar suas <span class="text-primary">funcionalidades</span>.
  </Fragment>
  <Fragment>
    <div class="my-16 grid max-w-screen-xl gap-6 lg:grid-cols-3">
      <div
        class="flex flex-col items-center justify-center space-y-4 rounded-md p-8 text-center lg:items-start lg:text-start"
      >
        <div
          class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-violet-600 font-bold text-gray-50 text-xl"
        >
          1
        </div>
        <p class="font-semibold text-2xl">
          <b>Obtenha seu Token.</b>Acesse nossa página, faça login com sua conta
          e obtenha se token.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center space-y-4 rounded-md p-8 text-center lg:items-start lg:text-start"
      >
        <div
          class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-violet-600 font-bold text-gray-50 text-xl"
        >
          2
        </div>
        <p class="font-semibold text-2xl">
          <b>Adicione a Lucy.</b>Com seu token, adicione a Lucy na sua
          comunidade para começar a interagir.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center space-y-4 rounded-md p-8 text-center lg:items-start lg:text-start"
      >
        <div
          class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-violet-600 font-bold text-gray-50 text-xl"
        >
          3
        </div>
        <p class="font-semibold text-2xl">
          <b>Dê a Lucy o que é de Lucy.</b>Configure as permissões da Lucy na
          sua comunidade e libere o seu potencial!
        </p>
      </div>
    </div>
  </Fragment>
</ContentSection>
