---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import Lucy1 from "../assets/lucy-cta-1.png";
import Lucy2 from "../assets/lucy-cta-2.png";
import Lucy3 from "../assets/lucy-cta-3.png";
import Discordbutton from "./new-layout/discordbutton.astro";
import Whatsappbutton from "./new-layout/whatsappbutton.astro";

const imageWidths = [450, 800, 1200];
---

<ContentSection title="Lucy" id="showcase">
  <div class="pb-16">
    <div class="container m-auto space-y-8 px-6 md:px-12 lg:px-20">
      <div
        class="justify-center gap-6 text-center md:flex md:text-left lg:items-center lg:gap-16"
      >
        <div class="order-last mb-6 space-y-6 md:mb-0 md:w-6/12 lg:w-6/12">
          <h1 class="font-bold text-4xl md:text-5xl">
            Utilize a Lucy agora e veja todo o seu <span class="text-primary"
              >potencial</span
            >.
          </h1>
          <p class="text-lg">
            Revolucione a maneira como interage com sua comunidade. Use Lucy
            agora e veja o potencial que o seu Discord pode alcançar.
          </p>
          <div
            class="relative grid grid-cols-2 space-x-4 md:flex md:justify-center md:space-x-6 lg:justify-start"
          >
            <Discordbutton />
            <Whatsappbutton />
          </div>
        </div>
        <div class="grid grid-cols-5 grid-rows-4 gap-4 md:w-5/12 lg:w-6/12">
          <div class="col-span-2 row-span-4">
            <Image
              src={Lucy1}
              width={300}
              height={300}
              class="rounded-full"
              alt="shoes"
              loading="lazy"
              aspectRatio="1:1"
            />
          </div>
          <div class="col-span-2 row-span-2">
            <Image
              class="h-full w-full rounded-xl object-cover object-top"
              src={Lucy2}
              width={300}
              height={300}
              alt="shoe"
              loading="lazy"
              aspectRatio="1:1"
            />
          </div>
          <div class="col-span-3 row-span-3">
            <Image
              src={Lucy3}
              width={300}
              height={300}
              class="h-full w-full rounded-xl object-cover object-top"
              alt="shoes"
              loading="lazy"
              aspectRatio="1:1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</ContentSection>
